name: Build and push Docker images 
on:
  push:
    branches:
      - main
      - 'release/*'
    tags:
      - 'v*.*.*'
  workflow_dispatch:
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Debug secret
        if: ${{ secrets.DOCKER_USERNAME != ''}}
        run: echo "DOCKER_USERNAME is set!" 

      - name: Build, tag, and push image to Docker Hub
        uses: dinushchathurya/build-tag-push-action@v1.2.1

        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          context: .
          file: Dockerfile
          repoOwner: ${{ secrets.DOCKER_USERNAME }}
          repository:  fastapi3tier
          tag: ${{github.event.release.tag_name||latest}}
          